<div class="address">
    <strong>Books Store</strong><br />
    <p>Come take a peek through our 40,000 book collection ranging from automobiles to zoology. We have plenty of good reads in our fiction, poetry, history, and art sections. We also have an extensive and unique collection of rare books.</p>
</div>

<div id="map"></div>

<div>
    <address>
        <strong>Address:</strong><br />
        <a href="https://www.google.com.ua/maps/place/507+N+Tampa+St,+Tampa,+FL+33602,+%D0%A1%D0%A8%D0%90/@27.948493,-82.4612153,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2c48961f7b4c9:0x64ba66a914189aaf!8m2!3d27.948493!4d-82.4590266">
            507 North Tampa Street<br />
            Tampa, FL 33602<br />
        </a>
        <strong>Phone:</strong> +1 (813)-209-2151<br /><br />
        <strong>Store hours:</strong><br />
        <p>Monday - Friday, 10 A.M. to 5 P.M.</p>
        <p>Saturday, 11 A.M. to 5 P.M.</p>
        <p>You can contact us by calling 813-209- 2151 or via the form below for information on our inventory or any other questions you might have. We look forward to seeing you.</p>
    </address>
</div>

